* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.outer-container {
    width: 100%;
    height: 10vh;
}

/* SITE HEADER */
.site-header-container {
    width: 100%;
    background-color: rgb(66,103,178);
    height: 55px;
    display: grid;
    grid: 45px / 1fr 7fr 5fr 2fr 2fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.site-header-container > * {
    display: grid;
    align-content: center;
    justify-content: center;
}

.fa-comments {
    color: white;
    font-size: 190%
}

.chat-window-container {
    /* background-color: lightgray; */
}

.site-header-item {
    display: grid;
    /* border: 1px solid red; */
    color: white;
}

.main-searchbar-container {
    display: grid;
    grid: 32px / 85% 15%;
}

.main-searchbar-container > * {
    display: grid;
}

.main-searchbar {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 120%;
}

.main-search-btn {
    background-color: lightgray;
    color: gray;
    font-size: 140%;
    padding-top: 3px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    align-content: center;
    justify-content: center;
}

.user-profile-container {
    display: grid;
    grid: 32px / 0.8fr 2fr;
    align-content: center;
    justify-content: center;
    margin-left: 1.5vw;
}

.user-pic {
    border-radius: 50%;
    justify-self: end;
}

.username {
    padding-top: 6px;
    padding-left: 8px;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-self: start;
}

.home, .create, .friends, .groups, .notifications, .help {
    font-size: 150%
}

.friends, .groups, .notifications, .help {
    color: rgb(20,37,69);
}

/* MAIN WINDOW */

.chat-window-container {
    width: 100%;
    height: calc(100vh - 55px);
    display: grid;
    grid-template: 100% / 1fr 2fr;
    /* background-color: lightgray; */
}

/* MESSAGES LIST WINDDOW */

.message-list-container {
    /* border: 1px solid red; */
    display: grid;
    grid-template: 60px 52px auto / 100%;
}

.message-list-container > * {
    /* border: 1px solid green; */
}

.message-list-header {
    padding: 10px 16px;
    display: grid;
    grid-template: 100% / 40px calc(100% - 110px) 35px 35px;
    justify-content: center;
    align-content: center;
}

.message-list-user-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.message-list-title {
    font-size: 200%;
    font-weight: bold;
    align-self: center;
    padding-left: 10px;
    padding-top: 7px;
}

.message-list-new-message-icon-container, .message-list-settings-icon-container {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: lightgray;
    display: grid;
    align-self: center;
    justify-self: center;
}

.message-list-new-message, .message-list-settings {
    display: grid;
    align-content: center;
    justify-content: center;
}

.fa-comment-medical, .fa-cog {
    display: grid;
    align-self: center;
    justify-self: center;
    font-size: 160%
}

.message-list-search {
    padding: 4px 16px 12px;
    display: grid;
    grid-template: 100% / 1.2fr 7fr 1fr;
}

.message-list-search-btn {
    width: 34px;
    height: 36px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: lightgray;
    display: grid;
    justify-content: center;
    justify-self: end;
}

.message-list-searchbar {
    height: 36px;
    border: none;
    background-color: lightgray;
    font-size: 120%;
}

.fa-search {
    display: grid;
    justify-content: end;
    align-content: center;
    
}

.message-list-searchbar-finale {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 34px;
    height: 36px;
    background-color: lightgray;
}

.message-list-main {
    display: grid;
    align-content: start;
    overflow: auto;
    overflow-x: hidden;
    grid-gap: 6px;
}

.message-list-item {
    padding: 0 8px;
    height: 64px;
    display: grid;
    grid-template: 100% / 50px calc(100% - 108px) 42px 16px;
}

.selected {
    border-radius: 9px;
    background-color: lightgray;
}

.message-list-sender-pic {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.message-list-item-main {
    display: grid;
    grid-template: 60% 40% / 100%; 
}

.message-list-sender-name {
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: end;
}

.message-list-last-message {
    font-weight: 300;
    font-size: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-list-item-time {
    font-size: 60%;
}

.message-list-item-read {
    display: grid;
}

.message-list-sender-pic-small {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    align-self: center;
}

.message-list-sender-pic, .message-list-item-main, .message-list-item-time, .message-list-sender-pic-small {
    align-self: center;
}

/* CHAT WINDOW */

.chat-container {
    border-left: 1px solid lightgray;
    display: grid;
    grid-template: 60px auto 52px / auto;
}

.chat-header {
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template: 100% / 60px auto repeat(3, 60px);
}

.sender-container {
    display: grid;
    align-content: center;
}

.chat-sender-pic-container, .sender-call, .sender-video-call, .sender-info {
    display: grid;
    align-content: center;
    justify-content: center;
}

.sender-call, .sender-video-call, .sender-info {
    font-size: 150%;
    color: rgb(11,153,255);
}

.chat-sender-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sender-name {
    font-size: 120%;
    font-weight: 700;
}

.sender-active-status {
    font-size: 70%;
}

.chat-body {
    display: grid;
    align-content: end;
    grid-gap: 15px;
    overflow-y: hidden;
    /* grid-auto-flow: column; */
    grid-template: 100% / auto-flow calc(100vh - 107px);
    /* overflow-x: hidden; */
}

.chat-body-inner {
    width: 100%;
    height: 100%;
    /* border: 5px solid red; */
    display: grid;
    align-self: start;
    overflow-y: scroll;
    grid-gap: 15px;
}

.incoming-message-container {
    align-self: stretch;
    justify-self: stretch;
    display: grid;
    max-width: 80%;
    grid-template: auto / 35px calc(100% - 116px);
    /* grid-template: auto / 35px calc(100% - 116px) repeat(3, 27px); */
    grid-gap: 5px;
}

.incoming-message-sender-pic-container {
    display: grid;
    align-content: end;
    justify-self: end;
}

.incoming-message-sender-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.incoming-message {
    background-color: lightgray;
    padding: 15px;
    border-radius: 15px;
    margin-right: 8px;
}

.outgoing-message-container {
    align-self: stretch;
    justify-self: end;
    justify-content: end;
    align-content: end;
    display: grid;
    max-width: 80%;
    /* height: auto; */
    grid-template: auto / calc(100% - 101px) 20px;
    /* grid-template: auto / repeat(3, 27px) auto 20px; */
    grid-gap: 5px;
}

.message-more-container, .message-reply-container, .message-reaction-container {
    display: none;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    font-size: 110%;
    /* background-color: lightgray; */
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.outgoing-message {
    height: auto;
    max-height: 100%;
    margin-left: 8px;
    color: white;
    background-color: rgb(11,153,255);
    padding: 15px;
    border-radius: 15px;
}

.outgoing-message-status {
    display: grid;
    align-content: end;
    color: rgb(11,153,255);
}

.chat-compose {
    display: grid;
    grid-template: 52px / repeat(4, 44px) auto 44px;
    align-content: center;
    justify-content: stretch;
}

.more-container, .gif-container, .sticker-container, .file-container, .send-container {
    color: rgb(11,153,255);
    font-size: 150%;
    display: grid;
    align-content: center;
    justify-content: space-evenly;
}

.input-container {
    display: grid;
    align-content: center;
    justify-content: stretch;
    grid-template: 85% / 44px auto 44px;
}

.input-finale, .input-main {
    display: grid;
    align-content: center;
    justify-content: stretch;
}

.input-intro {
    height: 44px;
    width: 44px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: lightgray;
}

.input-field {
    background-color: lightgray;
    height: 44px;
    border: none;
}

.input-finale {
    color: rgb(11,153,255);
    font-size: 150%;
    height: 44px;
    width: 44px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: lightgray;
}

/* HOVER */

.incoming-message-container:hover .message-reaction-container, .incoming-message-container:hover .message-reply-container, .incoming-message-container:hover .message-more-container {
    display: grid;
}

.incoming-message-container {
    grid-template: auto / 35px calc(100% - 116px) repeat(3, 27px)
}

.outgoing-message-container:hover .message-reaction-container, .outgoing-message-container:hover .message-reply-container, .outgoing-message-container:hover .message-more-container {
    display: grid;
}

.outgoing-message-container:hover {
    grid-template: auto / repeat(3, 27px) calc(100% - 101px) 20px;
}

.message-more-container:hover, .message-reply-container:hover, .message-reaction-container:hover {
    background-color: lightgray;
}

/* RESPONSIVE */

@media(max-width: 425px) {

    .chat-header {
        grid-template: 100% / 60px auto;
    }
    
    .sender-call, .sender-video-call, .sender-info, .more-container, .file-container, .fa-plus-circle, .fa-folder, .fa-sticky-note, .fa-image {
        display: none;
    }

    .input-container {
        width: 160px;
        overflow: hidden;
        /* justi */
    }

    /* ISSUE BELOW
    grid-template doesnt seem to override the 768 media query, although the rest of the properties
    do. tried setting 44px auto 44px value to the 768 query and it worked correctly on this size */
    .chat-compose {
        display: grid;
        grid-template: 52px / auto 44px;
        border: 5px solid green;
    }

    .input-container {
        grid-template: 85% / auto;
    }
    
    .chat-compose > * {
        border: 5px solid red;
    }
}

@media(max-width: 768px){
    .site-header-container {
        height: 90px;
        width: 100%;
        grid-template: 45px 45px / repeat(10, 1fr);
        grid-template-areas: 
            "logo srch srch srch srch usr usr  usr  usr  usr"
            "hom  hom  crt  crt  frds frds grps grps ntf  hlp";
    }

    .logo {
        grid-area: logo;
    }

    /* ISSUE BELOW
    issue only in web firefox: searchbar extends more than it should, overlaps with username */
    .main-searchbar-container {
        grid-area: srch;
    }

    .user-profile-container {
        margin-left: 15px;
        grid-area: usr;
    }

    .home {
        grid-area: hom;
    }

    .create {
        grid-area: crt;
    }

    .friends {
        grid-area: frds;
    }

    .groups {
        grid-area: grps;
    }

    .notifications {
        grid-area: ntf;
    }

    .help {
        grid-area: hlp;
    }

    .message-list-user-pic, .message-list-title, .message-list-settings, .message-list-search, .message-list-sender-name, .message-list-last-message, .message-list-item-time, .message-list-item-read {
        display: none;
    }
    
    .chat-window-container {
        /* border: 2px solid orange; */
        height: calc(100vh - 90px);
        grid-template: 100% / 90px calc(100vw - 90px);
    }

    .message-list-container {
        grid-template: 90px auto / 90px;
    }

    .message-list-header {
        grid-template: 60px / 60px;
    }

    .message-list-sender-pic {
        align-self: center;
        justify-self: center;
    }

    .message-list-item {
        width: 90px;
        height: 90px;
        overflow: hidden;
        grid-template: 90px / 90px;
        justify-content: center;
        align-content: center;
    }

    .incoming-message-container, .outgoing-message-container {
        max-width: 95%;
    }

    .chat-compose {
        grid-template: 52px / repeat(2, 44px) auto 44px;
    }

    .gif-container, .sticker-container {
        display: none;
    }


}